---
import { FooterDescription, Hide } from '~/config';
---

<footer class="mt-[3dvh] text-center lg:mt-[4dvh]" transition:persist>
	{!Hide.includes('footerDescription') && <p class="mb-[1dvh] lg:mb-[2dvh]">{FooterDescription}</p>}
</footer>
